body {
  background-color : #EDD9D5;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

h1 {
  text-align: center;
}

#tribute-info {
  text-align: center;
}

#img-div {
  background: hsla(0, 100%, 30%, 0.3);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

ul {
  margin: 0 auto 50px auto;
  line-height: 1.5;
  text-align: left;
}

li {
  margin: 20px 0;
}

@media (max-width: 768px) {
  img {
    max-width : 200px;
  }
}

@media (min-width: 768px) {
  img {
    max-width : 475px;
  }
}

@media (min-width: 992px) {
  img {
    max-width : 850px;
  }
}
